@charset "utf-8";
/* CSS Document */
body{
	margin:0px;
	padding: 0px;
	font-family: poppins;
	
}
*{
	box-sizing:border-box;
	scroll-behavior: smooth;
}
ul{
	list-style:none;
}
a{
    text-decoration:none;
}
#main{
	width:100%;
	height:100vh;
	position: relative;
}
#main a {
    font-size: 5px;
    color:gray;
    font-size: 17px;
    font-weight: 800;
}
#main  .logo {
    font-size: 25px;
    color: crimson;
}
nav{
	display: flex;
	justify-content: space-around;
	align-items: center;
	box-shadow: 5px 10px 30px rgba(0,0,0,0.02);
	position:  fixed ;
	left: 0;
	top: 0;
	width:100%;
	z-index: 1;
	background-color: #FFFFFF;
}

nav ul{
    display: flex;

}
nav ul li a{
	height:40px;
	line-height: 43px;
	margin: 3px;
	padding: 0px 22px;
	display: flex;
	font-size: 0.8rem;
	text-transform: uppercase;
	font-weight: 500;
	color:#585b5b;
	letter-spacing: 1px;
}

nav ul li a:hover{
	
	color:#FFFFFF;
	box-shadow: 5px 10px 30px rgba(233, 16, 16, 0.3);
	transition: all ease 0.2s;
}

.model img{
	width:100%;
	height: 100%;
	object-fit: contain;
}
.model{
	width:500px;
	height: 500px;
}
.content{
	width:90%;
	display: flex;
	justify-content: space-around;
	align-items: center;
    position: absolute;
    margin: 60px 0;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}

.model1{
    margin-top: 50px;
    width: 100%;
    height: 100%;

}
.main-text{
	width:50%;
}
.main-text h1{
	font-size: 3.5rem;
	color:crimson;
	margin:0px 0px 25px 0px;
	line-height: 60px;
}
.main-text p{
    font-size: 17px;
    color:#747474;
    margin-bottom: 25px;
}
.portfolio-btn{
	width:190px;
	height: 44px;
	display: flex;
	justify-content: center;
	align-items: center;
	color:#FFFFFF;
	background-color: crimson;
	border-radius: 20px;
	box-shadow: 4px 10px 30px rgba(24,139,119,0.2);
}
.portfolio-btn:hover{
    background-color: #fff;
    color:crimson;
	transition: all ease 0.6s;
}

#skills{
	display: flex;
	justify-content: space-around;
	align-items: center;
	width:90%;
	margin:auto auto 50px auto;
}
.skill-text{
	width:400px;
}
.skill-img{
    margin-top: 20px;
	width:600px;
	height: 600px;
}
.skill-img img{
	width:100%;
	height: 100%;
	object-fit: contain;
}
.skill-heading span{
	color:gray;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 1rem;
}
.skill-heading h2{
	color: crimson;
	font-size: 3.3rem;
	margin:0px;
	font-weight: 400;
	letter-spacing: 1px;
}
.s-box-container{
	margin-top: 30px;
}
.skill-box{
	display: flex;
	margin: 25px 0px;
}
.s-box-icon{
	margin-right:12px;
}
.s-box-icon i{
	width:40px;
	height: 40px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #f0f0f0;
	font-size: 50px;
}
.s-box-text strong{
    color:crimson;
    text-transform: uppercase;
	margin: 0px;
	font-size: 0.9rem;
	font-weight: 600;
}
.s-box-text-css strong {
    color:blue ;
    text-transform: uppercase;
	margin: 0px;
	font-size: 0.9rem;
	font-weight: 600;
}
.s-box-text p{
	color:#747474;
	font-size: 18px;
}
.s-box-text-css p{
	color:#747474;
	font-size: 18px;
}
.fa-html5{
	color:#e06061;
}
.fa-css3-alt{
	color:#416cdf;
}

footer{
    margin-top: 100px;
	display:flex;
	justify-content: space-around;
	border-top: 1px solid rgba(232,232,232,0.5);
	background-color:#FFFFFF;
}
footer p{
	margin:15px 0px;
	color:#5f5f5f;
	font-size: 0.9rem;
}


.navbar ul {
    list-style: none;
}
.navbar {
    display: inline-block;
    text-align: center;
    position: absolute;
    width: 80%;
    top: 35%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.navbar li:hover {
    background: crimson;
}

.navbar > ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
    background: gray;
    color: #ffff;
    width: 100%;
    text-transform: uppercase;
    font-weight: 900;
}

.navbar > ul > li{
    position: relative;
    cursor: pointer;
    font-size: 18px;
    letter-spacing: 2px;
    float: left;
    width: 33%;
    height: 50px;
    line-height: 50px;
}
.navbar ul li a {
    color: white;
}
.dropdown{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 0;
}

.dropdown li {
    background: gray;
    
    display: none;
}

.dropdown li:hover{
    background: crimson;
    
}
.navbar li:hover > .dropdown li {
    transform-origin: top center;
    opacity: 1;
    display: block;
}

/* Style inputs */
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
      width: 100%;
    background-color: crimson;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: crimson;
  }
  
  /* Style the container/contact section */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
  }
  
  /* Create two columns that float next to eachother */
  .column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  


nav .menu-btn,
.menu-icon{
		display:none;
	}
@media(max-width:1140px){
	.content{
		width:100%;
	}
	.model{
		width:400px;
		height: 400px;
	}
	.main-text,.model{
		margin:10px;
	}
	.main-text h1{
		font-size:3rem;
	}
	.skill-img{
		width:400px;
		height: 400px;
	}
	.client-box{
		flex-grow:0.5;
	}
}
@media(max-width:900px){
.menu-icon{
display:block;}
	nav{
		justify-content: space-between;
		height: 65px;
		padding: 0px 30px;
	}
	.logo img{
		height:35px;
	}
	.menu{
		display:none;
		position:absolute;
		top:65px;
		left:0px;
		background-color:#FFFFFF;
		border-bottom:4px solid #1db096;
		width:100%;
		padding:0px;
		margin:0px;
	}
	.menu li{
		width:100%;
	}
	nav .menu li a{
		width:100%;
		height:40px;
		justify-content: center;
		align-items: center;
		margin:0px;
		padding: 25px;
		border:1px solid rgba(38,38,38,0.03);
	}
	nav .menu-icon{
		cursor:pointer;
		float:right;
		padding:28px 20px;
		position:relative;
		user-select: none;
	}
	nav .menu-icon .nav-icon{
		background-color:#333333;
		display:block;
		height:2px;
		position:relative;
		transition: background 0.2s ease-out;
		width:18px;
	}
	nav .menu-icon .nav-icon:before,
	nav .menu-icon .nav-icon:after{
		background:#333;
		content:'';
		display:block;
		height:100%;
		position:absolute;
		transition:all ease-out 0.2s;
		width:100%;
	}
	nav .menu-icon .nav-icon:before{
		top:5px;
	}
	nav .menu-icon .nav-icon:after{
		top:-5px;
	}
	nav .menu-btn:checked ~ .menu-icon .nav-icon{
		background:transparent;
	}
	nav .menu-btn:checked ~ .menu-icon .nav-icon:before{
		transform: rotate(-45deg);
		top:0;
	}
	nav .menu-btn:checked ~ .menu-icon .nav-icon:after{
		transform: rotate(45deg);
		top:0;
	}
	nav .menu-btn{
		display:none;
	}
	nav .menu-btn:checked ~ .menu{
		display:block;
	}
	#skills{
		width:100%;
		justify-content: space-between;
		padding-left: 40px;
	}
	.skill-text{
		width:400px;
	}
	.skill-img{
		width:40%;
		height:300px;
	}
	.skill-img img{
		object-fit: cover;
		object-position: left;
	}
	.recent-heading h3,
	.client-heading h3,
	#contact h3{
		font-size:2.2rem;
		text-align:center;
	}
	.recent-heading{
		text-align:center;
		padding:0px 15px;
	}
	
}
@media(max-width:720px){
	.model{
		display:none;
	}
	.main-text{
		width:70%;
		position:absolute;
		left:50%;
		top:50%;
		transform:translate(-50%,-50%);
		
	}
	#contact img{
		height:200px;
	}
	footer{
		justify-content: center;
		padding:10px 20px;
	}
	footer p{
		text-align: center;
	}
	.recent-btn{
		margin:0px;
	}
}
@media(max-width:530px){
	.contact-input{
		width:90%;
	}
	.skill-img{
		display:none;
	}
	.skill-text{
		width:85%;
	}
	#skills{
		margin:0px;
	}
}